/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #4b66bd;
  --ifm-color-primary-dark: #4b66bd;
  --ifm-color-primary-darker: #4b66bd;
  --ifm-color-primary-darkest: #4b66bd;
  --ifm-color-primary-light: #4b66bd;
  --ifm-color-primary-lighter: #4b66bd;
  --ifm-color-primary-lightest: #537dc1;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #dfdfdf;
  --ifm-color-primary-dark: #c0c0c0;
  --ifm-color-primary-darker: #702d4f;
  --ifm-color-primary-darkest: #8b1515;
  --ifm-color-primary-light: #702d4f;
  --ifm-color-primary-lighter: #7a7a7a;
  --ifm-color-primary-lightest: #702d4f;
  --docusaurus-highlighted-code-line-bg: rgb(221, 221, 221);
}


.footer {
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  padding: 2rem 0;
}

.footer a {
  color: #bfcbcd;
}

.footer a:hover {
  color: #ff0080;
}
